@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('../assets/hotel.webp');
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    Background-size: cover;
}

* {
    color: #c3c3d7;
}

.form-box {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-left: 8rem;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 30rem;
    border: 2px solid purple;
    padding-left: 1.5rem;
    height: 37rem;
    box-shadow: 10px 10px 18px 10px #7275e1;
    border-radius: 1rem;
    background-color: rgba(88, 86, 86, 0.61);
    backdrop-filter: blur(5px);
}

.form .span {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.5rem;
}

.name {
    width: 25rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 5px;
}

.elements {
    margin-left: 1rem;
    font-size: larger;
    margin-bottom: 0.5rem;
}

.to {
    width: 25rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 5px;
}

.date {
    width: 25rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5px;
}

.number {
    width: 25rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 5px;
}

.btn {
    height: 40px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
    transform: translateY(-3px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.btn:hover::after {
    cursor: pointer;
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

a {
    width: 17rem;
    height: 1rem;
    text-align: center;
    margin-top: 2rem;
    background-color: rgb(192, 145, 198);
    font-weight: bolder;
}

.singleHotel {
    border: 2px solid rgb(234, 88, 198);
    text-align: center;
    width: 40%;
    /* margin: 10px auto; */
    height: 12.5rem;
    border-radius: 2rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    /* margin-left: 50rem; */
    background-color: rgb(109, 82, 220);
    background-color: rgba(88, 86, 86, 0.61);
    backdrop-filter: blur(5px);
}

.xx {
    margin-top: 40px;
}

.aa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 3px auto;
    font-size: 2rem;
}

.bb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    /* margin-top: 1rem; */
}

.searchBtn {
    /* width: 200px; */
    /* margin: 4px auto; */
    color: purple;
    width: 25rem;
    margin-top: 1rem;
    border-radius: 2rem;
}

.bbttnn {
    height: 2.5rem;
    width: 8rem;
    background-color: #7275e1;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
}

.bbttnn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: blue;
    color: azure;
}