nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

.navi {
    /* background-color: red; */
}

.navi>a {
    background-color: black;
    padding: 4px 20px;
    text-decoration: none;
    transition: all;
}

.navi>a:hover {
    cursor: pointer;
    border-bottom: 2px solid azure;
    border-top: 2px solid azure;
    background-color: rgb(240, 86, 202);
    color: black;
    transition-duration: 200ms;
    border-radius: 10px;

}

.active {


    color: rgb(240, 86, 202);
    background-color: red;

    border-bottom: 2px solid rgb(240, 86, 202);
    border-top: 2px solid rgb(240, 86, 202);

}